@charset "UTF-8";

.apresentação{
    height: 50%;
}
.apresentação p{
    font-size: 0.8rem;
    color: #f2f2f2;
}

.foto-perfil{
    width: 80px;
    height: 80px;
}

.caixa-btn{
    height: 100%;
}

.btn-download{
    width: 130px;
    height: 40px;
}