@charset "UTF-8";

.nav-links{
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    gap: 0;
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 60%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

body{
    overflow: hidden;
}


.navbar h1{
    font-size: 0.8rem;
    text-align: center;
    border-right: none;
    width: 100%;
}

nav-links li:last-child{
    border: none;
}
.nav-links .link{
    display: inline-flex;
    border-bottom: 1px solid rgba(77, 77, 77, 0.774);  
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav-links .link:hover{
    background-color: #4949497c;
}

.toggle-menu{
    display: block;
}

.nav-links.active{
    transform: translateX(0);
}

.toggle-menu.active .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
    width: 20px;
    transition:  transform 0.2s ease-in-out;
}

.toggle-menu.active .bar:nth-child(2){
    opacity: 0;
}

.toggle-menu.active .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
    width: 20px;
    transition: transform 0.2s ease-in-out;
}

.foto{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.container{
    background-color: #24252a;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:start;
    justify-content: center;
}

.principal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foto-perfil{
    width: 100px;
    height: 100px;
    background-color: #24252a;
    border-radius: 50%;
    border: 5px solid #10b981;
}


.apresentação p{
    display: block;
    font-family: 'inter', sans-serif;
    font-size: 0.9rem;
    color: #dddddd;
    text-align: justify;
    line-height: 1.5rem;
    padding: 10px 15px;
}

.caixa-btn{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}