@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #f2f2f2;
}
.bar{
    width: 30px;
    height: 4px;
    margin: 4px;
    background-color: #f2f2f2;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 1.1em;
    font-weight: bold;
}

.nav-links .link{
    text-decoration: none;
    text-shadow: 0px 3px 9px #34eea04f;
    color: #2FE097;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    width: 6.5rem;
    text-align: center;
    border-radius: 5px;
}
.nav-links .link:hover{
    background-color: #3636367c;
}
.toggle-menu{
    cursor: pointer;
    display: none;
}
.navbar h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    color: #2FE097;
    text-shadow: 0px 3px 9px #34eea04f;
}
