@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #f2f2f2;
}
.bar{
    width: 30px;
    height: 4px;
    margin: 4px;
    background-color: #f2f2f2;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
}

.nav-links .link{
    text-decoration: none;
    text-shadow: 0px 3px 9px #1f1f1f96;
    color: #f2f2f2;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    width: 7.7rem;
    text-align: center;
    border-radius: 5px;
}
.nav-links .link:hover{
    background-color: #3636367c;
}
.toggle-menu{
    cursor: pointer;
    display: none;
}

.navbar h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    color: #f2f2f2;
    width: 52%;
    text-shadow: 0px 3px 9px #1f1f1f96;
    border-right: 1px solid #f2f2f2;
}

p{
    display: none;
}

.btn-download{
    width: 200px;
    height: 50px;
    background-color: #3b82f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #464646;
    border: none;
    color: #24252a;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'inter', sans-serif;
    cursor: pointer;
}

.btn-download img{
    width: 20px;
    height: 20px;
    background-color: #3b82f6;
    border-radius: 50%;
}


